
</div>
<div class="footer-padding"></div>
  <div class="footer">

  </div>
</div>
<div>
    &copy;
    <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>
    Backroom
</div>
</body>
</html>
